*{  
    font-family: 'Baloo Bhai 2', cursive;
    font-family: 'PT Serif', serif;
}
header{
    height: 50vh;
    width: auto;
    background: url('images/Bg.jfif') no-repeat;
    background-color: black;
    background-size: cover;
}
#div{
    margin: 0px;
    padding: 0px;
}
header h1{ 
    margin: 0px; 
    height: 100px;
    text-align: center ;
    color: yellow;
    font-size: 70px;
    
}

header p{
    text-align: center;
   margin-top: 200px;
    font-family: 'Baloo Bhai 2', cursive;
    font-family: 'PT Serif', serif;
    color: white;
    font-size: 35px;
    
}

.content ul li{
   margin: 5px 5px;
    display: inline-block;
}
.content ul li img{
   
    margin: 0px 5px;
    display: inline-block;
    height: 245px;
    width: 245px;
    
}
h2{
    text-align: center;
}
.name ul li{
    display: inline-block;
}
.name ul li a{ 
    color: white;
    text-decoration: none;
    /* text-align: start; */
    display: inline-block;
    margin:  10px 110px;
    text-transform: capitalize;
    
}
main{
    background-color: purple;
}
footer{
    margin: 1px 25px;
    font-size: 10px;
    height: 150px;
    width: auto;
    background: url('images/test.jpg') no-repeat scroll center;
    background-size: cover;
   
}
.testimonial h3 ul{
    font-size: 20px;
   
}
.testimonial ul{
    margin: 1px 25px;
    font-size: 10px;
}
